@charset "utf-8";
/* CSS Document */
body{
	margin: 0;
}
.body{
	display: flex;
    flex-direction: column;
    height: 100%;
	padding: 6px;
}

nav{
	display: flex;
    align-items: center;
	display: inline-block;
    flex-grow: 1;
}
.nav{
	float: right;
	height: 48px;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-user-select: none;
}
.double{
	padding: 0 4px;
	align-items: center;
    display: -webkit-box;
}
.first{
	font-family: arial,sans-serif;
    line-height: normal;
    padding-right: 4px;
}
.gmail, .vaizdai{
	vertical-align: super;
	text-decoration: none;
	hover:underline;
	color: rgba(0,0,0,0.87);
	font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
	margin: 4px
}
.gmail:hover, .vaizdai:hover{
	text-decoration: underline;
}
.menu-top{
	padding: 8px;
	vertical-align: bottom;
}
.menu{
	padding: 8px;
	color: #5f6368;
	fill: currentColor;
	height: 24px;
	width: 24px;
}
.menu:hover{
	padding: 8px;
	background-color: rgba(60,64,67,0.08);
	outline: none;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.profile{
	padding-right: 12px;
	vertical-align: bottom;
}
.center{
	align-content: center;
}
.google{
	margin-top: 204px;
	display: flex;
    flex-direction: column;
	align-items: center;
	margin-bottom: 25px;
}
.button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
	cursor: pointer;
}
.button:hover {
    text-align: center;
    border: 3px solid #dd;
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 20%);
}
.buttons{
	padding-top: 14px;
}
.english{
	padding-top: 5px;
	font-size: 13px;
    font-family: arial,sans-serif;
    color: #222;
}
.aenglish{
	text-decoration: none;
}
.aenglish:hover{
	text-decoration: underline;
}

.sbx-custom {
  display: inline-block;
  position: relative;
  width: 582px;
  height: 51px;
  white-space: nowrap;
  box-sizing: border-box;
  font-size: 14px;
}
.sbx-custom__wrapper {
  width: 100%;
  height: 100%;
}
.sbx-custom__input {
  display: inline-block;
  border: 0;
  border-radius: 26px;
  box-shadow: inset 0 0 0 1px #CCCCCC;
  background: #FFFFFF;
  padding: 0;
  padding-right: 41px;
  padding-left: 51px;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  white-space: normal;
  font-size: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.sbx-custom__input::-webkit-search-decoration, .sbx-custom__input::-webkit-search-cancel-button, .sbx-custom__input::-webkit-search-results-button, .sbx-custom__input::-webkit-search-results-decoration {
  display: none;
}
.sbx-custom__input:hover {
  box-shadow: inset 0 0 0 2px #b3b3b3;
}
.sbx-custom__input:focus, .sbx-custom__input:active {
  outline: 0;
  background: #FFFFFF;
}
.sbx-custom__input::-webkit-input-placeholder {
  color: #BBBBBB;
}
.sbx-custom__input::-moz-placeholder {
  color: #BBBBBB;
}
.sbx-custom__input:-ms-input-placeholder {
  color: #BBBBBB;
}
.sbx-custom__input::placeholder {
  color: #BBBBBB;
}
.sbx-custom__submit {
  position: absolute;
  top: 0;
  right: inherit;
  left: 0;
  margin: 0;
  border: 0;
  border-radius: 25px 0 0 25px;
  background-color: rgba(255, 255, 255, 0);
  padding: 0;
  width: 51px;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  font-size: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.sbx-custom__submit::before {
  display: inline-block;
  margin-right: -4px;
  height: 100%;
  vertical-align: middle;
  content: '';
}
.sbx-custom__submit:hover, .sbx-custom__submit:active {
  cursor: pointer;
}
.sbx-custom__submit:focus {
  outline: 0;
}
.sbx-custom__submit svg {
  width: 15px;
  height: 15px;
  vertical-align: middle;
  fill: #9aa0a6;
}
.sbx-custom__reset {
  display: none;
  position: absolute;
  top: 12px;
  right: 12px;
  margin: 0;
  border: 0;
  background: none;
  cursor: pointer;
  padding: 0;
  font-size: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  fill: rgba(0, 0, 0, 0.5);
}
.sbx-custom__reset:focus {
  outline: 0;
}
.sbx-custom__reset svg {
  display: block;
  margin: 4px;
  width: 19px;
  height: 19px;
}
.sbx-custom__input:valid ~ .sbx-custom__reset {
  display: block;
  -webkit-animation-name: sbx-reset-in;
          animation-name: sbx-reset-in;
  -webkit-animation-duration: .15s;
          animation-duration: .15s;
}
